.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #707786;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.homee{
  font-size: 50px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgb(230, 213, 221);
  text-decoration-line: none;


 
}
/* .nav{
  font-size: 40px;
  text-decoration: none;
  background-color: rgb(159, 244, 244);
 

} */

.App{
  background-color: rgb(236, 227, 209);
  background-image: back;

  
}

.but{
  color: rgb(252, 251, 250);
  text-decoration: none;
  font-size: large;
  
 
}
.manager{
  font-size: 50px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgb(217, 241, 241);
  text-decoration-line: none;
  
}

.imglist{
  margin-left: 150px;
}
.box{
  margin-top: 50px;
  width: 100vw;
  height: 50vh;
}
.list{
  margin-left: 30px;
  /* width: 1600px; */
}

.homepagediv1{
  margin-left: 10px;

}